.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
   padding-top: 70px;
  position: relative;
  z-index: 1;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  font-family: "Lucida Console", monospace;
  color: white;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

