.auth-form {
  width: 100%;
  max-width: 360px;
  margin: 100px auto;
  padding: 2rem;
  background: rgba(20, 20, 20, 0.95);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: "courier", monospace;
  color: white;
}

.auth-form h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #e50914;
  letter-spacing: 1px;
}

.auth-form input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #222;
  color: white;
  font-size: 1rem;
}

.auth-form input::placeholder {
  color: #aaa;
}

.auth-form input:focus {
  outline: none;
  box-shadow: 0 0 6px #e50914;
}

.auth-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background-color: #6e5aec;
  color:white;
}

@media (max-width: 480px) {
  .auth-form {
    margin: 60px auto;
    padding: 1.5rem;
  }
}
